.mini-credit-card .rccs{
    width: 174px;
    
    .rccs__card{
        width: 174px;
        height: 114px;
    
        .rccs__chip{
            width: 25.2px;
            height: 15.6px;
        }
    
        .rccs__issuer{
            width: 42px;
            height: 15.6px;
        }
    
        .rccs__number{
            font-size: 12px;
        }
    
        .rccs__name{
            font-size: 10px;
        }
    
        .rccs__expiry{
            width: 28.8px;
            height: 24.6px;
            bottom: 7%;
    
            .rccs__expiry__valid{
                font-size: 6.5px;
                margin-bottom: 2px;
            }
    
            .rccs__expiry__value{
                font-size: 9.6px;
            }
        }
    }
}